@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  height: 100%;
  min-height: 100vh;
  background-image: url(../public/IO.svg);
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
}

#menu-modal{
  position: absolute;
  top:100px;
  left:0;
  width: 100vw;
  max-width: 100%; 
}

#menu-modal ul {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
}

#menu-modal ul li {
  margin-bottom: 0.5rem;
  width: 350px;
}

#menu-modal button {
  position: absolute;
  padding: 1rem;
  width: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language{
  width: 30px;
  height: 30px;
  border: solid 4px;
  transform-origin: left;
  transition: all 0.25s ease;
}

.language:hover{
  border: solid 4px #EC550E;
}

.burger{
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;
  transform-origin: center ;
  transition: all 0.25s ease;
}

.burger::before,
.burger::after {
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  background: inherit;
}

.burger::before{
  top: -11px;
  width: 10px;
  background: inherit;
}

.burger::after{
  top: 11px;
  width: 20px;
  background: inherit;
}

.burger:hover {
  background: #EC550E;
}

.dark-mode {
  position: relative;
  width: 30px;
  height: 30px;
  border: solid 4px;
  border-radius: 25px;
  overflow: hidden;
  transform-origin: center;
  transition: all 0.25s ease;
}

.dark-mode:hover {
  border: solid 4px #EC550E;
}

.dark-mode::after {
  content:'';
  width: 100%;
  height: 100%;
  border-radius: 25px;
  top:0;
  left: 8px;
  position: absolute;

}

.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline:after{
  content: '';
  height:2px;
  width: 0%;
  left:1.2rem;
  top:1.5rem;
  background: #EC550E;
  position: absolute;
  transform-origin: left;
  transition: all 0.25s ease;
}

.hover-underline:hover:after{
  width: 60%;
  transform-origin: left;

}

.btn-primary, .btn-secondary {
  display: block;
  padding: 0.25rem 1rem;
  border-radius: 25px;
}


