@tailwind base;
@tailwind components;
@tailwind utilities;


#background {
  height: 100%;
  min-height: 100vh;
  background-image: url(../public/IO.svg);
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;
}

/* .btn-primary {
  padding: 0.25rem 1rem;
  border-radius: 25px;
} */

.language{
  width: 30px;
  height: 30px;
  border: solid 4px;
}

.burger{
  width: 30px;
  height: 4px;
  display: inline-block;
  position: relative;

}

.burger::before,
.burger::after {
  content: '';
  width: 30px;
  height: 4px;
  left: 0;
  position: absolute;
  transform-origin: left;
  transition: all 0.25s ease;
}

.burger::before{
  top: -11px;
}

.burger::after{
  top: 11px;
}
